<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDGNOtificationExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SDGPushServiceExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iOS-10-NotificationTest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD0870721DAC89E20044A0A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD08709D1DACE2B90044A0A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD0870A81DADE27D0044A0A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD0870B81DADE44F0044A0A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD1B01781D9D00DE001B02F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD5E77B21D9950990075A314</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD5E77CB1D9950990075A314</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD5E77D61D9950990075A314</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADE1FE431D9CF52E00404E62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
